.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid black;
  color: white;
  font: normal normal 300 60px/70px Bicyclette;
  letter-spacing: 0px;
  margin-top: 0;
  margin-bottom: 59px;
}

.header1 {
  margin-bottom: 0;
  line-height: 1;
  font-size: 2.5rem;
}

.header2 {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1;
  font-size: 1.4rem;
}

.gutter {
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 50px;
  max-width: 1500px;
}

.offer {
  display: flex;
  justify-content: center;
}

.price {
  font-size: 2rem;
  margin: 3px;
}

.video-header {
  height: 95vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
  filter: brightness(1.8);
}

.logo {
  position: absolute;
  bottom: 15%;
  left: 30px;
  width: 35%;
  min-width: 400px;
  -webkit-filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 1));
  filter: drop-shadow(4px 4px 8px rgb(0, 0, 0));
}

.mobile-header-container {
  display: none;
}

@media only screen and (max-width: 500px) {
  .video-header {
    object-position: top right;
    height: 70vh;
  }
  .logo {
    display: none;
    /* position: absolute;
    left: 0;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-filter: drop-shadow(4px 4px 8px rgb(255, 255, 255)) brightness(0)
      saturate(100%);
    filter: brightness(0) saturate(100%)
      drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.767)); */
  }

  .logo-mobile {
    margin-top: -35px;
    width: 100%;
  }

  .mobile-header-container {
    display: block;
    height: 25vh;
    top: 0;
    left: 0;
  }
}

.text-container {
  background-color: white;
}

body {
  margin: 0px 0px;
  text-align: center;
  font: normal normal normal 36px/42px Bicyclette;
  background-color: black;

  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.starting {
  color: rgb(200, 203, 206);
}

.video-container {
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.preheader {
  color: #707070;
  text-transform: uppercase;
  font: normal normal normal 20px/23px Bicyclette;
  letter-spacing: 3.6px;
}

.speil {
  color: #707070;
  font: normal normal normal 36px/42px Bicyclette;
  letter-spacing: 0px;
  font-weight: lighter;
  width: 925px;
  margin-top: 0px;
}

.text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  font-family: Bicyclette;
  font: normal normal normal 36px/42px Bicyclette;
}
