.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid black;
}
.header1 {
  margin-bottom: 0;
  line-height: 1;
  font-size: 2.5rem;
}

.header2 {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1;
  font-size: 1.4rem;
}

.gutter {
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 50px;
  max-width: 1500px;
}

.offer {
  display: flex;
  justify-content: center;
}

.price {
  font-size: 2rem;
  margin: 3px;
}

.video-header {
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
}

.text-container {
  width: 1fr;
  margin: 0 auto;
  padding-left: 8px;
  max-width: 1500px;
}

body {
  margin: 0px 0px;
}

.starting {
  color: rgb(200, 203, 206);
}

.video-container {
  position: relative;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  bottom: 15%;
  left: 30px;
  width: 35%;
}
