:root {
  --pre-header-size: 20px/23px;
  --header-font-size: 60px/70px;
  --p-font-size: 32px/38px;
  --bold-header-size: 44px;
}

.header {
  display: flex;
  text-align: left;
  justify-content: space-between;
  color: white;
  font: normal normal 400 var(--header-font-size) system-ui;
  margin-top: 0;
  margin-bottom: 59px;
}

.about-group {
  display: flex;
  border-bottom: dotted #707070;
  border-top: dotted #707070;
  margin-bottom: 30px;
}

.about-group-center {
  border-left: dotted #707070;
  border-right: dotted #707070;
}

@media only screen and (max-width: 623px) {
  /* .about-group {
    flex-direction: column;
    border: none;
  }

  .about-group-center {
    border: none;
  } */

  .about-group {
    display: none;
  }
}

.about-group div {
  padding: 15px;
}

.header1 {
  margin-bottom: 0;
  line-height: 1;
  font-size: 2.5rem;
}

.header2 {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1;
  font-size: 1.4rem;
}

.gutter {
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 50px;
  max-width: 1500px;
  width: 85%;
}

.offer {
  display: flex;
  justify-content: center;
}

.price {
  font-size: 2rem;
  margin: 3px;
}

.video-header {
  height: 95vh;
  height: 95lvh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
}

.video-header-2 {
  height: 95vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
  filter: brightness(.6);
}

.logo {
  position: absolute;
  bottom: 15%;
  left: 90px;
  width: 35%;
  min-width: 400px;
  -webkit-filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 1));
  filter: drop-shadow(2px 2px 8px rgb(0, 0, 0));
}

.mobile-header-container {
  display: none;
}

.text-container {
  /*background-color: white;*/
}

body {
  margin: 0px 0px;
  text-align: center;
  font: normal normal normal 36px/42px system-ui;
  background-color: #231F20;

  color: #707070;
  opacity: 1;
}

.starting {
  color: rgb(200, 203, 206);
}

.video-container {
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.video-container-2 {
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}


.video-container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(
          to bottom,
          rgba(35, 31, 32, 0) 85%,
          rgba(35, 31, 32, 0.3) 88%,
          rgba(35, 31, 32, 0.6) 90%,
          rgba(35, 31, 32, 0.8) 93%,
          rgba(35, 31, 32, 0.9) 95%,
          rgb(35, 31, 32) 100%
  );
}

.preheader {
  color: #707070;
  text-transform: uppercase;
  font: normal normal normal var(--pre-header-size) system-ui;
  letter-spacing: 3.6px;
}

.paragraph {
  color: #707070;
  font: normal normal lighter var(--p-font-size) system-ui;
  max-width: 925px;
  margin-top: 50px;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 85px;

}

ol {
  margin-top: 0;
}

li {
  font: normal normal lighter var(--p-font-size) system-ui;
}

.text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  font-family: system-ui;
  font: normal normal normal 36px/42px system-ui;
}

a {
  color: #DFFD35;
  font: normal normal normal 20px system-ui;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

a::before {
  content: '';
  background-color: #DFFD35;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a:hover {
  color: #272727;
  transition: all .3s ease-in-out;
}

a:hover::before {
  bottom: -2px;
  height: 102%;
}

.key-info {
  padding-bottom: 100px;
  padding-top: 100px;
  margin-bottom: 100px;
  background-color: #272727;
  border-radius: 34px;
}

.details-header {
  font: normal normal bold var(--header-font-size) system-ui;
  color: #ffffff;
}

.details-type {
  font: normal normal normal var(--pre-header-size) system-ui;
  letter-spacing: 3.6px;
  color: #707070;
}

.copy-email {
  background-color: transparent;
  border: none;
}

.gallery-image {
  width: 100%;
}

.about-group > div {
  padding: 60px 90px;
}

.two-column {
  display: grid;
  grid-template-columns: 39% 54% 7%;
  padding-top: 50px;
}

.newpreheader {
  color: #DFFD35;
  text-align: left;
  text-transform: uppercase;
  font: normal normal normal var(--pre-header-size) system-ui;
  letter-spacing: 3.6px;
}

.contactpreheader {
  color: #DFFD35;
  text-transform: uppercase;
  font: normal normal normal var(--pre-header-size) system-ui;
  letter-spacing: 3.6px;
}

.boldparagraph {
  text-align: left;
  font: normal normal 200 var(--bold-header-size) system-ui;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: 0px 0px 50px 0px;
}

.header-number {
  display: inline;
  line-height: 1;
}

.header-number-bullet {
  display: inline;
  color: #DFFD35;
  line-height: 1;
  margin-right: 15px;
}

.contact-container {
  position: absolute;
  bottom: 45%;
  left: 0;
  right: 0;
  z-index: 2;
}

.wrapper {
  position: relative;
}

.cta {
  font: normal normal normal 50px system-ui;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-top: 20px;
}

.email {
  font: normal normal normal 30px system-ui;
  /*vertical-align: top;*/
  letter-spacing: 5.1px;
  margin-top: -50px;
  color: #DFFD35;
}

.full-gallery {
  height: 85vh;
  height: 85lvh;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.category {
  text-align: left;
}

.apeture {
  opacity: 60%;
  position: fixed;
  right: 100px;
  bottom: 100px;
  animation: rotate 2s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -2s);
}

.arrow {
  text-align: left;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  top: 5%;
  text-align: right;
  /*padding-right: 193px;*/
  width: 75%; /* Full width */
  /*height: 100%; !* Full height *!*/
  /*overflow: clip; !* Enable scroll if needed *!*/
  /*height: fit-content;*/
}

/* Modal Content/Box */
.modal-content {
  border: 1px solid #bb0f0f;
  background-color: #fefefe;
  border-bottom: none;
  border-top: none;
  margin: 0 15% 0 15%; /* 15% from the top and centered */

  width: 80%; /* Could be more or less, depending on screen size */
  padding-left: 45px;
  padding-right: 45px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1300px) {
  .apeture {
    display: none;
  }
}

@media only screen and (max-width: 625px) {
  :root {
    --pre-header-size: 15px/17.25px;
    --header-font-size: 45px/52.5px;
    --p-font-size: 27px/31.5px;
    --bold-header-size: 34px;
  }

  .full-gallery {
    height: 68vh;
    height: 68lvh;
  }

  .video-header {
    object-position: top right;
    height: 70vh;
    height: 70lvh;
  }
  .logo {
    display: none;
  }

  .logo-mobile {
    margin-top: 55px;
    width: 95%;
  }

  .boldparagraph {
    line-height: 1.4;
  }

  .mobile-header-container {
    display: block;
    /*height: 25vh;*/
    top: 0;
    left: 0;
  }

  .two-column {
    display: block;
    padding-top: 80px;
  }
}